# OSX
.DS_Store

# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
android/app/build/
android/build/
android/.gradle
android/local.properties
android/app/release/
*.iml
.idea
*.keystore
!debug.keystore

# Node
node_modules/
npm-debug.log
yarn-error.log

# Env
.env
.env.local

# Metro
.metro-health-check*

# Testing
coverage/

# fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/
